streamlit
spacy
pandas
numpy
scikit-learn
PyMuPDF
pdfminer.six
plotly
pdfplumber
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.1/en_core_web_sm-3.7.1.tar.gz

